<div class="container">

    <div class="col-lg-4"></div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4"></div>
    <div class="form-outline" data-mdb-input-init>
        <input type="text" id="usuario" class="form-control" />
        <label class="form-label" for="form12">Usuário</label>
    </div>

    <div class="form-outline" data-mdb-input-init>
        <input type="text" id="senha" class="form-control" />
        <label class="form-label" for="form12">Senha</label>
    </div>

    <button type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-init>Acessar</button>
</div>