<div class="container mt-2">
    <div class="row">
        <div class="col-lg-12 p-5 centralizar">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-car-side"></i> Cadastro de carro:</h5>
                    <mdb-form-control>
                        <input mdbInput type="text" id="nome" class="form-control mb-3" [(ngModel)]="carro.nome"/>
                        <label mdbLabel class="form-label" for="nome">Nome</label>
                    </mdb-form-control>
                    <div>
                      @if (carro.marca == null) {
                        <button type="button" class="btn btn-primary btn-rounded mb-3" mdbRipple (click)="buscarMarca()">Buscar marca</button>
                      }@else{
                        <span class="text-primary mb-3">Marca: {{carro.marca.nome}}</span>
                        <button type="button" class="btn btn-primary btn-rounded mb-3" mdbRipple (click)="buscarMarca()">Trocar marca</button>
                      }
                    </div>

                    <div>
                        <button type="button" class="btn btn-primary btn-rounded mb-3" mdbRipple (click)="buscarAcessorio()">Buscar acessorio</button>

                        <!--LISTA DE ACESSORIOS-->
                        <table border="1" class="table table-sm">
                          <thead>
                              <tr>
                                  <th>ID</th>
                                  <th>Nome</th>
                                  <th>Ações</th>
                              </tr>
                          </thead>
                          <tbody>
                              @for (acessorio of carro.acessorios; track $index) {
                              <tr class="position-relative position-relative-example">
                                  <td>{{acessorio.id}}</td>
                                  <td>{{acessorio.nome}}</td>
                                  <td class="items-direita">
                                    <button type="button" class="btn btn-danger btn-rounded" mdbRipple (click)="desvincularAcessorioCarro(acessorio)">Deletar</button>
                                  </td>
                              </tr>
                          }
                          </tbody>
                      </table>
                    </div>
                    <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="save()">Salvar</button>
                </div>
              </div>
        </div>

    </div>
</div>

<ng-template [ngTemplateOutlet]="outlet" [ngOutletContext]="context" #modalMarcas>
  <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Marcas</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modalRef.close()"
      ></button>
    </div>
    <div class="modal-body">
      <app-marcaslist [ocultarBotoes]="true" (retorno)="retornoMarca($event)"></app-marcaslist>
    </div>
  </ng-template>

  <ng-template [ngTemplateOutlet]="outlet" [ngOutletContext]="context" #modalAcessorios>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Acessórios</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modalRef.close()"
        ></button>
      </div>
      <div class="modal-body">
        <app-acessoriolist [ocultarBotoes]="true" (retorno)="retornoAcessorio($event)"></app-acessoriolist>
      </div>
    </ng-template>
